<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>135003324088-ubgvbhatskbf6b0u3rcljrl1qa8gtsfd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.135003324088-ubgvbhatskbf6b0u3rcljrl1qa8gtsfd</string>
	<key>API_KEY</key>
	<string>AIzaSyCKd0okwinsmIZQ9pR9_fFMi7mWtjG60rU</string>
	<key>GCM_SENDER_ID</key>
	<string>135003324088</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.duds.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>uasmobileprogramming-376c9</string>
	<key>STORAGE_BUCKET</key>
	<string>uasmobileprogramming-376c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:135003324088:ios:484cdd85864bde1474fe4d</string>
</dict>
</plist>